body
{
    background-image: url('img\ .avif');
}
.container
{
    background-color: rgb(255, 255, 255);
    height: auto;
    max-width: 40rem;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
    opacity: 0.9;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 10rem;
    transition: all 0.3s ease-in-out;
    transform: scale(0.9); /* Start with a small scale */
    
}

.container h1
{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.form-label
{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}