body {
    background-image: url(https://images.pexels.com/photos/2767814/pexels-photo-2767814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}

.datepickers {
    display: flex;
    justify-content: flex-end;
    /* Move the child div to the end */
    align-items: center;
    /* Optional: Center the child vertically */
    /* height: 100vh; */
    /* Full page height */
    margin: 0;
    padding: 0;
}

.childern_datepicker {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

.about {
    position: relative;
    z-index: 10;
    opacity: 0.9;
    margin: 10rem 2rem;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    text-align: justify;
    transition: all 0.3s ease-in-out;
    animation: textFadeIn 1s ease-in-out;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
   
}

.about:hover {
    transform: scale(1.02);
    opacity: 1;
}

.about::before {
    content: '';
    display: block;
    /* width: 50px;
    height: 4px; */
    background-color: white;
    margin: 0 auto 1rem auto;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .about {
        font-size: 1rem;
        padding: 1.5rem;
        margin: 5rem 1rem;
    }
}
@keyframes textFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}